<?xml version="1.0" encoding="utf-8" ?>

<configuration>

	<appSettings>
		<add key="connectionString" value="Server=localhost;Database=hangman;User ID=cmt;Password=cmt2#;Pooling=false;" />
	</appSettings>

	<system.serviceModel>
		<services>
			<service name="HangmanService.HangmanService" behaviorConfiguration="Behavior_HangmanService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8325" />
					</baseAddresses>
				</host>
				<endpoint address=""
						  binding="basicHttpBinding"
						  contract="HangmanService.IHangmanService" />
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="Behavior_HangmanService">
					<serviceMetadata />
				</behavior>
				<behavior>
					<serviceMetadata />
				</behavior>
			</serviceBehaviors>
		</behaviors>
    </system.serviceModel>

</configuration>
	